<!-- navbar -->
<%= render './components/navbar' %>
<!-- banner at the top. Website name -->
<%= render './components/banner' %>
<!-- cards displaying the lists -->
<!-- choose a random image for now. -->
<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="list-text">my lists (<%= @lists.length %>) </h1>
  </div>
  <div class="row row-cols-3 d-flex justify-content-between">
    <% @lists.each do |list| %>
      <% link_to "link", list_path(list) %>
        <div class="col mb-4">
          <a class="pic-link" href="<%= list_path(list) %>"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
            <p><%= list.name %></p>
            <!-- <p><%= link_to "link", list_path(list) %></p> -->
          </div></a>
        </div>
    <% end %>
  </div>
</div>
