<!-- navbar -->
<%= render './components/navbar' %>
<!-- banner at the top. Website name -->
<%= render './components/banner' %>
<!-- cards displaying the lists -->
<!-- choose a random image for now. -->
<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="list-text">my lists (<%= @lists.length %>) </h1>
  </div>
  <div class="row row-cols-3 d-flex justify-content-between">
    <% @lists.each do |list| %>
        <% image = list.photo.attached? ? list.photo.key : "../popcorn.jpeg" %>
        <div class="col mb-4">
          <a class="pic-link" href="<%= list_path(list) %>"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path image %>')">
            <p><%= list.name %></p>
          </div></a>
        </div>
    <% end %>
  </div>
</div>
<h1 class="form-text">create a new list</h1>
<div class="container form">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>

