<%= render './components/navbar' %>

<!-- banner for the list here -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<!-- add a new movie link -->
<div class="btn-container">
  <div class="btn-show-page">
    <%= link_to "add movie", new_list_bookmark_path(@list), class: "btn btn-flat" %>
    <div class="row row-cols-2">
  </div>
</div>
<!-- itterate through list of movies -->
<div class="movie-container">
  <div class="row row-cols-2">
    <% @movies.each do |movie| %>
      <div class="col">
        <div data-aos="fade-up"
         data-aos-offset="2"
         data-aos-delay="5"
         data-aos-duration="1000"
         data-aos-easing="ease-in-out"
         data-aos-mirror="true"
         data-aos-once="false"
         data-aos-anchor-placement="center">
        <div class="movie-card">
          <img src="<%= movie.poster_url %>" alt="">
          <div class="col movie-body">
            <div class="title-rating">
              <h1 class="movie-title"><%= movie.title %></h1>
              <p class="dot">·</p>
              <p class="rating"><%= movie.rating %></p>
              <p class="star">⭐️</p>
            </div>
            <p class="movie-text"><%= movie.overview %></p>
            <% movie.bookmarks.each do |bookmark| %>
              <% if bookmark.list_id == @list_id %>
                <%= link_to "delete", bookmark_path(bookmark),
                      method: :delete,
                      data: { confrim: 'You want to remove this movie?'}%>
              <% end %>
            <% end %>
            <div class="comment">
              <%= icon('fas', 'quote-left') %>
              <% movie.bookmarks.each do |bookmark|%>
                <% if bookmark.list_id == @list.id %>
                  <%= bookmark.comment %>
                <% end %>
              <% end %>
            </div>
            </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
